@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  width: 100vw;
}

.sticky {
  height: 50px;
  line-height: 80px;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  z-index: 9998 !important;
}

.navs {
  position: absolute;
  background-color: white;
  font-size: 1.3vw;
  font-family: "Roboto";
  top: 0%;
}

#logo {
  position: absolute;
  top: 20%;
  margin-left: 5.5%;
  width: 9vw;
}

ul.nav-right {
  width: 100vw;
  list-style: none;
  text-align: right;
  font-family: "Mulish";
  font-weight: 300;
  margin-right: 4%;
  float: right;
  overflow-x: hidden;
}

.nav-right li {
  display: inline-block;
  width: 10%;
  margin-left: 1vw;
  padding: 0;
  letter-spacing: 0.008em;
  word-spacing: 0.008em;
}
.nav-right a {
  text-align: center;
  margin: 0;
  display: block;
  text-decoration: none;
  color: #80807f;
}

.nav-right a:hover {
  color: #80807f;
}

.nav-right a.selected {
  font-weight: 600;
  text-decoration: none;
  line-height: 2.5em;
  border-bottom: 0.8vh solid #abb8d4;
  color: #80807f;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}
#main {
  position: relative;
  top: 4%;
  width: 100%;
  height: 200vh;
  scroll-behavior: smooth;
}

#mainGraphic {
  position: absolute;
  width: 53vw;
  left: 44%;
  top: 7%;
}

#mainText {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 4vw;
  color: black;
  position: relative;
  left: 5%;
  right: 55%;
  top: 15%;
  bottom: 55.21%;
}

#mainSubText {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 100;
  line-height: 2.2vw;
  color: #80807f;

  position: relative;
  left: 5%;
  right: 61.42%;
  top: 15.7%;
  bottom: 46.48%;
}

#startButton {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 1.5vw;

  position: absolute;
  width: 15%;
  height: 4%;
  left: 5%;
  right: 61.42%;
  top: 29.2%;
  bottom: 46.48%;

  border-radius: 3.214vw;
  background-color: #f6d673;
  border: none;
  outline: none;
  text-align: center;
  display: inline-block;
}

#startButton:hover {
  background: #faebbc;
  color: black;
  outline: none;
}

#scrollArrow {
  width: 7vw;
  position: absolute;
  left: 47%;
  top: 43%;

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.17vh);
  }
  100% {
    transform: translateY(0);
  }
}


#customAnalysisIcon {
  position: absolute;
  width: 12vw;
  left: 8%;
  top: 61.5%;
}

#about {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: white;

  position: absolute;
  width: 12.215vw;
  height: 69vh;
  left: 5.5%;
  top: 68.5%;
  white-space: nowrap;
}

#customAnalysisLabel {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5c77ac;

  position: absolute;
  width: 12.215vw;
  height: 4.69vh;
  left: 5.5%;
  top: 71.5%;
  white-space: nowrap;
}
#customAnalysisDesc {
  position: absolute;
  width: 16vw;
  height: 25vh;
  left: 5.8%;
  top: 75%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.5vw;
  text-align: center;

  color: #000000;
}

#longTermSavingsIcon {
  position: absolute;
  width: 13vw;
  left: 31.5%;
  top: 62.3%;
}
#longTermSavingsLabel {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5c77ac;

  position: absolute;
  width: 12.215vw;
  height: 4.69vh;
  left: 29%;
  top: 71.5%;
  white-space: nowrap;
}
#longTermSavingsDesc {
  position: absolute;
  width: 16vw;
  height: 25vh;
  left: 30.3%;
  top: 75%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.5vw;
  text-align: center;

  color: #000000;
}

#carbonFootprintIcon {
  position: absolute;
  width: 11vw;
  left: 57.3%;
  top: 61.4%;
}
#carbonFootprintLabel {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5c77ac;

  position: absolute;
  width: 12.215vw;
  height: 4.69vh;
  left: 54.5%;
  top: 71.5%;
  white-space: nowrap;
}
#carbonFootprintDesc {
  position: absolute;
  width: 16vw;
  height: 25vh;
  left: 55%;
  top: 75%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.5vw;
  text-align: center;

  color: #000000;
}

#integrateStorageIcon {
  position: absolute;
  width: 13vw;
  left: 80%;
  top: 61.2%;
}
#integrateStorageLabel {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5c77ac;

  position: absolute;
  width: 12.215vw;
  height: 4.69vh;
  left: 78%;
  top: 71.5%;
  white-space: nowrap;
}
#integrateStorageDesc {
  position: absolute;
  width: 16vw;
  height: 25vh;
  left: 78.8%;
  top: 75%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.5vw;
  text-align: center;

  color: #000000;
}

#startButton2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 1.5vw;

  position: absolute;
  width: 15%;
  height: 4%;
  left: 43.5%;
  top: 87%;

  border-radius: 3.215vw;
  background-color: #f6d673;
  border: none;
  outline: none;
  text-align: center;
  display: inline-block;
}

#startButton2:hover {
  background: #faebbc;
  color: black;
  outline: none;
}

.startSaving {
  display: flex;
  width: 100vw;
  height: 200vh;
}

.footer-hp {
  position: absolute;
  width: 100%;
  top: 100.7%;
  left: 0.25%;
  font-family: "Mulish";
  font-weight: 300;
  font-size: 2vh;
  letter-spacing: 0.008em;
}

.footer-ss {
  position: absolute;
  clear: both;
  top: 210%;
  color: #80807f;
  font-family: "Mulish";
  font-weight: 300;
  font-size: 1vw;
  line-height: 10vh;
  width: 100%;
  left: -11.75%;
}

#footerspace {
  position: absolute;
  top: 207.5%;
  left: 0%;
  width: 100%;
  height: 6vh;
  color: white;
}

.Panel {
  position: absolute;
  width: 100%;
  max-width: 80vw;
  margin: 5vw auto;

  top: 10%;
  left: 10%;
}

.Panel__body {
  background-color: white;
  padding: 25vh 5vw;
}

.Tabs {
  position: relative;
  background-color: #fff;
}

.Tabs:after {
  content: " ";
  display: table;
  clear: both;
}

.Tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Tabs__tab {
  float: left;
  width: 50%;
  text-align: center;
}

.Tabs__tab:first-child.active ~ .Tabs__presentation-slider {
  transform: translateX(0) scaleX(0.5);
}

.Tabs__tab:nth-child(2).active ~ .Tabs__presentation-slider {
  transform: translateX(50%) scaleX(0.5);
}

.Tabs__presentation-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.8vh;
  background-color: #5c77ac;
  transform-origin: 0 0;
  transition: transform 0.25s;
}

#tab-underline {
  border: 0.1vh solid #80807f;
}

.Tab {
  font-family: "Mulish";
  font-style: normal;
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 5vh;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
}

.Tab > a {
  display: block;
  padding: 2.5vh 5vw;
  text-decoration: none;
  color: black;
  transition: color 0.15s;
}

.tabContent {
  display: none;
}

#tabs-1 {
  display: block;
}
#tabs2 {
  font-weight: 400;
}

#solar-subtext {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 5.5vh;
  text-align: center;
  letter-spacing: 0.1em;

  color: #80807f;

  position: absolute;
  top: 16%;
  left: 14.5%;
}
#battery-subtext {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 5.5vh;
  text-align: center;
  letter-spacing: 0.1em;

  color: #80807f;

  position: absolute;
  top: 16%;
  left: 66.5%;
}
#form-desc {
  position: absolute;
  width: 70vw;
  height: 3.76vh;
  left: 6%;
  top: 27%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 5vh;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}
#form-desc2 {
  position: absolute;
  width: 70vw;
  height: 3.76vh;
  left: 6.5%;
  top: 31%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 5vh;
  text-align: center;
  letter-spacing: 0.1em;

  color: #000000;
}

.footer {
  position: absolute;
  clear: both;
  bottom: 2%;
  color: #80807f;
  font-family: "Mulish";
  font-weight: 300;
  font-size: 2vh;
  line-height: 5vh;
  width: 100%;
}

.footer-left {
  width: 100vw;
  list-style: none;
  text-align: left;
  margin-left: 3%;
  float: left;
  overflow-x: hidden;
}

.field-titles {
  position: absolute;
  width: 14vw;
  height: 2.4vh;
  left: 37%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 2.097vh;
  letter-spacing: 0.05em;
  color: #000000;
  white-space: nowrap;
  text-align: left;
}

.field-inputs::placeholder {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  color: #80807f;
  font-size: 1.05vw;
}

.field-input-dod::placeholder {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  color: #80807f;
  font-size: 1.05vw;
}

.field-inputs-budget::placeholder {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  color: #80807f;
  font-size: 1.05vw;
}

.dropdownFormat {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  color: #80807f;
  font-size: 1.05vw;
}

#postal-text {
  position: absolute;
  width: 11vw;
  height: 2.7vh;
  left: 65.5%;
  font-size: 0.8vw;
  font-family: Roboto;
  font-style: italic;
  font-weight: 200;
  color: #000000;
  top: 55%;
}

#postal-code {
  top: 50.5%;
}

#postal-code-input1 {
  top: 50%;
}

#postal-code-input2 {
  top: 50%;
}

#roof-size {
  top: 60.5%;
}

#roof-size-input1 {
  top: 60%;
}

#roof-size-input2 {
  top: 60%;
}

#elec-usage {
  top: 79%;
}

#elec-usage-input1 {
  top: 78.5%;
}

#elec-usage-input2 {
  top: 78.5%;
}

#month-title {
  top: 88.7%;
}

#month-input1 {
  top: 87.7%;
}

#month-input2 {
  top: 87.7%;
}

#heating-type-title {
  top: 98.3%;
}

#heating-input1 {
  top: 97.5%;
}

#heating-input2 {
  top: 97.5%;
}

#budget1 {
  top: 116%;
}

#budget2 {
  top: 142%;
}

#budget1title {
  top: 116.5%;
}

#budget2title {
  top: 142.5%;
}

#storage-capacity {
  top: 116.5%;
}

#storage-capacity-input {
  top: 116%;
}

#dod {
  top: 126.5%;
}

#dod-input {
  top: 126%;
}
.formSectionTitles {
  position: absolute;
  width: 10vw;
  height: 2.5vh;
  left: 18%;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 2.5vh;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #80807f;
  white-space: nowrap;
}

.qGraphic {
  position: absolute;
  width: 1.3vw;
  left: 57.25%;
  height: 2.3vh;
}

#home-specs {
  top: 55%;
}

#energy-usage {
  top: 88%;
}

#initial-inv1 {
  top: 116%;
}

#initial-inv2 {
  top: 142%;
}

#battery-specs {
  top: 121%;
}
.help-tip {
  position: absolute;
  text-align: center;
  background-color: #f6d673;
  border-radius: 50%;
  width: 1.3vw;
  height: 1.3vw;
  font-size: 0.8vw;
  line-height: 1.33vw;
  font-family: "Roboto";
  cursor: default;
  left: 57.25%;
}
.help-tip:before {
  content: "?";
  font-weight: bold;
  color: #80807f;
}
.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
  /* The tooltip    */
  display: none;
  text-align: center;
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 50%;
  width: 20vw;
  position: absolute;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -7px;
  color: #000;
  font-family: "Roboto";
  letter-spacing: 0.06em;
  font-size: 1vw;
  line-height: 1.4;
  z-index: 9998 !important;
}

.help-tip p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #e5e5e5;
  right: 10px;
  top: -10px;
}

.help-tip p:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
}

#q1 {
  top: 60.5%;
}

#q2 {
  top: 88%;
}

#q3 {
  top: 78.8%;
}

#q4 {
  top: 116.5%;
}

#q5 {
  top: 126.5%;
}

#q6 {
  top: 116.7%;
}
#q7 {
  top: 142.7%;
}
#budgetTipNote {
  font-size: 0.7vw;
}

#generate-box {
  position: absolute;
  left: 41%;
  top: 140%;
  width: 19%;
  height: 11.5%; 
}
#generate-box2 {
  position: absolute;
  left: 41%;
  top: 165%;
  width: 19%;
  height: 11.5%;
}

.resultsButton {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 1.5vw;

  position: absolute;
  width: 100%;
  height: 100%;

  left: 0%;

  border-radius: 5.844vw;
  background-color: #f6d673;
  border: none;
  outline: none;
  text-align: center;
  display: block;
}

#results-button1:hover {
  background: #faebbc;
  color: black;
  outline: none;
}

#results-button2:hover {
  background: #faebbc;
  color: black;
  outline: none;
}

.userform {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  position: absolute;
  display: inline-block;
  border: 0.2vh solid #e5e5e5;
  margin: 0px;
  width: 11vw;
  height: 2.7vh;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  top: 116%;
  background: #ffffff;
  border-radius: 0.309vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.whitesquare {
  position: absolute;
  left: 93.5%;
  top: 180%;
  height: 20px;
  width: 100px;
  background-color: white;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  left: 74.9%;
  border-radius: 0 0 0 0;
  border: transparent;
  width: 2.11vw;
  top: 116.5%;
  height: 2.5vh;
  background: #e5e5e5;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 100;
}

form #percentage {
  position: absolute;
  top: 126.5%;
  left: 64.5%;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 1.15vw;
  color: #000000;
}

form #dollar-sign1 {
  position: absolute;
  top: 116.7%;
  left: 64.5%;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 1.15vw;
  color: #000000;
}

form #dollar-sign2 {
  position: absolute;
  top: 142.5%;
  left: 64.5%;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 1.15vw;
  color: #000000;
}

#dollar-sign {
  top: 150%;
  left: 73.9%;
}

#dollar1 {
  top: 142%;
}

.dollar-text {
  left: 76.75%;
  border-radius: 0.309vw 0 0 0.309vw;
  width: 2.11vw;
  height: 2.6vh;
  background: #e5e5e5;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 100;
}

#decrease:hover {
  /* background: #80807f; */
  background: #ffffff;
  color: black;
  outline: none;
}

form #increase {
  left: 77.4%;
  width: 2.11vw;
  border-radius: 0 0.1vw 0.1vw 0;
  border: transparent;
  top: 116.5%;
  height: 2.5vh;
  background: #e5e5e5;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 100;
  /* box-shadow: 0 0 0 1px; */
}

#increase:hover {
  /* background: #80807f; */
  background: #ffffff;
  color: black;
  outline: none;
}

#decrease2:hover {
  /* background: #80807f; */
  background: #ffffff;
  color: black;
  outline: none;
}
form #decrease2 {
  left: 74.9%;
  border-radius: 0 0 0 0;
  border: transparent;
  width: 2.11vw;
  top: 142.3%;
  height: 2.7vh;
  background: #e5e5e5;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 100;
}

#increase2:hover {
  /* background: #80807f; */
  background: #ffffff;
  color: black;
  outline: none;
}

form #increase2 {
  left: 77.4%;
  width: 2.11vw;
  border-radius: 0 0.1vw 0.1vw 0;
  border: transparent;
  top: 142.3%;
  height: 2.7vh;
  background: #e5e5e5;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 100;
  /* box-shadow: 0 0 0 1px; */
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

#number {
  text-align: left;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 12vw;
  height: 2.7vh;
  top: 140%;
  left: 60%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field-inputs {
  position: absolute;
  width: 13vw;
  height: 3.1vh;
  left: 64%;
  background: #ffffff;
  border: 0.3vh solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 0.309vw;
  padding-left: 0.5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.field-input-dod {
  position: absolute;
  width: 13vw;
  height: 3.1vh;
  left: 64%;
  background: #ffffff;
  border: 0.2vh solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 0.309vw;
  padding-left: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.field-inputs-budget {
  position: absolute;
  width: 13vw;
  height: 3.1vh;
  left: 64%;
  background: #ffffff;
  border: 0.3vh solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 0.309vw 0.309vw 0.309vw 0.309vw;
  padding-left: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.budegt-container1 {
  display: flex; /* or inline-flex */
  flex-direction: row;
  order: 3;
  width: 11vw;
  height: 2.7vh;
}

.dropdown-inputs {
  position: absolute;
  width: 13vw;
  height: 3.1vh;
  left: 64%;
  background: #ffffff;
  border: 0.3vh solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 0.309vw;
  padding-left: 0.5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: #80807f;
  font-size: 1.05vw;
}



.vertical {
  position: absolute;
  border: 0.02vw solid #80807f;
  border-left-width: 0.02vw;
  height: 2.7vh;
  position: absolute;
}

#v1 {
  left: 64.75%;
  top: 116%;
}

#v2 {
  left: 64.75%;
  top: 126%;
}
#v3 {
  left: 64.75%;
  top: 142%;
}

#grey-fonts {
  position: absolute;
  width: 13vw;
  height: 3vh;
  left: 63%;
  background: #ffffff;
  border: 0.2vh solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 0.309vw;
  padding-left: 0.5%;
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  color: #80807f;
}

/* CSS animation for inline help tips*/

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* style of default drop downs to be grey */
select:invalid {
  color: #80807f;
}


/* default values modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-top-border {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 1.5vh;
  background-color: #f6d673;
}
.modal-content {
  position: relative;
  background-color: #fbfbfb;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40vw;
  height: 20vh;
  text-align: left;
}
#modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 2%;
}
#modal-text, #batterymodal-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vmin;
  letter-spacing: 0.05em;
  margin-top: 2vh;
  margin-bottom: 4vh;

  color: #80807f;
}

#default-warning, #defaultbattery-warning {
  position: absolute;
  left: 0%;
  width: 8vw;
  height: 13vh;
  float: left;
  vertical-align: middle;
}
.one-error {
  top: -9%;
}
.multiple-errors {
  top: 6%;
}

#buttondiv {
  position: absolute;
  left: 0%;
  top: 72%;
  width: 100%;
  height: 7vh;
  border-top: 1px solid #80807f;
}

#solar-update,
#battery-update {
  position: absolute;
  background: #ffffff;
  border: 1px solid #f6d673;
  box-sizing: border-box;
  border-radius: 2vh;

  width: 9vw;
  height: 4vh;

  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vh;

  left: 50%;
  bottom: 5%;
}

#continue, #postalSolarcontinue {
  position: absolute;
  background: #f6d673;
  border: 1px solid #f6d673;
  box-sizing: border-box;
  border-radius: 2vh;

  width: 9vw;
  height: 4vh;

  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vh;

  left: 75%;
  bottom: 5%;
}

#solar-update:hover,
#battery-update:hover,
#error-update:hover {
  border: 1px solid #faebbc;
}
#continue:hover {
  background: #faebbc;
  color: black;
  outline: none;
}

.invalid {
  border: 2px solid #c26c49;
}

.disabled-button {
  background: #faebbc;
  color: black;
  outline: none;
  pointer-events: none;
}

/* Error Modal Content */
#error-top-border {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 1.5vh;
  background-color: #f6d673;
}
.error-content {
  position: relative;
  background-color: #fbfbfb;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 42vw;
  min-height: 10vh;
  text-align: left;
}

#solarerror-title, #batteryerror-title, #error-title {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 80%;
  height: 3vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
  letter-spacing: 0.05em;
  color: #000000;
}
.error-container {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  background-color: #FBFBFB;
}

.error-container #left {
  width: 20%;
  float: left;
}
.error-container #right {
  margin-left: 20%;
  margin-right: 3%;
  min-height: 10vh;
}
#error-warning {
  position: absolute;
  left: 0%;
  width: 8vw;
  height: 13vh;
  float: left;
  vertical-align: middle;
}
.other-errors {
  top: -15%;
}
.three-errors {
  top: -10%;
}
.four-errors {
  top: -3%;
}
.five-errors {
  top: 5%;
}
.six-errors {
  top: 10%;
}
#error-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vmin;
  letter-spacing: 0.05em;

  color: #80807f;
}
#error-buttondiv {
  width: 100%;
  height: 7vh;
  border-top: 1px solid #80807f;
  background-color: #fbfbfb;
  margin-top: 3vh;
}

#error-update {
  position: absolute;
  background: #ffffff;
  border: 1px solid #f6d673;
  box-sizing: border-box;
  border-radius: 2vh;

  width: 9vw;
  height: 4vh;

  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vh;

  left: 77%;
  bottom: 6%;
}

/* faq page */
#faq-title{
  position: absolute;
  left: 33%;
  top: 20%;
  width: 40vw;
  height: 4vh;

  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 7.8vh;
  color: #000000;
  mix-blend-mode: normal;
}

#faq-desc{
  position: absolute;
  width: 45vw;
  height: 2vh;
  left: 27.5%;
  top: 30%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 3vh;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

#faqDiv {
  position: absolute;
  left: 15%;
  top: 45%;

  width: 70vw;
  min-height: 30vh;

}

#aboutSolar{
  position: absolute;
  left: 15%;
  top: 40%;
  width: 70vw;
  height: 3.5vh;

  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vh;
  align-items: center;
  text-align: left;
  white-space: nowrap;

  color: #5C77AC;
  border-bottom: 0.3vh solid #80807F;
}

#myData{
  width: 70vw;
  height: 3.5vh;
  left: 15%;

  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vh;
  align-items: center;
  text-align: left;
  white-space: nowrap;

  color: #5C77AC;
  border-bottom: 0.3vh solid #80807F;

  margin-top: 5vh;
}



#myResults{
  width: 70vw;
  height: 3.5vh;
  left: 15%;

  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vh;
  align-items: center;
  text-align: left;
  white-space: nowrap;

  color: #5C77AC;
  border-bottom: 0.3vh solid #80807F;

  margin-top: 5vh;
}

#nextSteps{
  width: 70vw;
  height: 3.5vh;
  left: 15%;

  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vh;
  align-items: center;
  text-align: left;
  white-space: nowrap;

  color: #5C77AC;
  border-bottom: 0.3vh solid #80807F;

  margin-top: 5vh;
}

#aboutFAQSectionContainer1, #aboutFAQSectionContainer2, #aboutFAQSectionContainer3, #aboutFAQSectionContainer4, #aboutFAQSectionContainer5, 
#dataFAQSectionContainer1, #dataFAQSectionContainer2, #dataFAQSectionContainer3,
#resultsFAQSectionContainer1, #resultsFAQSectionContainer2, #resultsFAQSectionContainer3, #resultsFAQSectionContainer4, #resultsFAQSectionContainer5,
#nextFAQSectionContainer1, #nextFAQSectionContainer2, #nextFAQSectionContainer3{
  width: 70vw;
  min-height: 3vw;
}
#aboutFAQIcon1, #aboutFAQIcon2, #aboutFAQIcon3, #aboutFAQIcon4, #aboutFAQIcon5,
#dataFAQIcon1, #dataFAQIcon2, #dataFAQIcon3,
#resultsFAQIcon1, #resultsFAQIcon2, #resultsFAQIcon3, #resultsFAQIcon4, #resultsFAQIcon5,
#nextFAQIcon1, #nextFAQIcon2, #nextFAQIcon3 {
  width: 3vw;
  height: 3vw;
  float: left;
  padding-left: 0.5vw;
}

#aboutDownFAQArrow1, #aboutDownFAQArrow2, #aboutDownFAQArrow3, #aboutDownFAQArrow4, #aboutDownFAQArrow5,
#dataDownFAQArrow1, #dataDownFAQArrow2, #dataDownFAQArrow3,
#resultsDownFAQArrow1, #resultsDownFAQArrow2, #resultsDownFAQArrow3, #resultsDownFAQArrow4, #resultsDownFAQArrow5,
#nextDownFAQArrow1, #nextDownFAQArrow2, #nextDownFAQArrow3{
  width: 2.5vw;
}
#aboutUpFAQArrow1, #aboutUpFAQArrow2, #aboutUpFAQArrow3, #aboutUpFAQArrow4, #aboutUpFAQArrow5,
#dataUpFAQArrow1, #dataUpFAQArrow2, #dataUpFAQArrow3,
#resultsUpFAQArrow1, #resultsUpFAQArrow2, #resultsUpFAQArrow3, #resultsUpFAQArrow4, #resultsUpFAQArrow5,
#nextUpFAQArrow1, #nextUpFAQArrow2, #nextUpFAQArrow3 {
  width: 2.5vw;
  display: none;
}
#aboutFAQQuestion1, #aboutFAQQuestion2, #aboutFAQQuestion3, #aboutFAQQuestion4, #aboutFAQQuestion5,
#dataFAQQuestion1, #dataFAQQuestion2, #dataFAQQuestion3,
#resultsFAQQuestion1, #resultsFAQQuestion2, #resultsFAQQuestion3, #resultsFAQQuestion4, #resultsFAQQuestion5,
#nextFAQQuestion1, #nextFAQQuestion2, #nextFAQQuestion3{
  margin-left: 3.5vw;
  margin-top: 0.5vw;
  padding: 0.9em;
}
#aboutFAQAnswer1, #aboutFAQAnswer2, #aboutFAQAnswer3, #aboutFAQAnswer4, #aboutFAQAnswer5,
#dataFAQAnswer1, #dataFAQAnswer2, #dataFAQAnswer3,
#resultsFAQAnswer1, #resultsFAQAnswer2, #resultsFAQAnswer3, #resultsFAQAnswer4, #resultsFAQAnswer5,
#nextFAQAnswer1, #nextFAQAnswer2, #nextFAQAnswer3 {
  margin-left: 3.5vw;
  padding-left: 0.8em;

  display: none;
}
.FAQ-Question {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
  line-height: 1vh;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
.FAQ-Answer {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 3vh;
  align-items: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.FAQ-bullet {
  margin-left: 2.5rem;
  margin-bottom: 0.8rem;
}
.FAQ-bullet2 {
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
}
.FAQ-bullet3 {
  margin-bottom: 0.5rem;
}
input[type="checkbox"]:checked ~ .field-inputs-budget {
  background-color : #d1d1d1; 
}

.no-budget  { 
  position: absolute; 
  left: 61%;
  top: 122.8%;
  padding-left: 45px; 
  margin-bottom: 15px; 
  cursor: pointer; 

  font-family: "Roboto";
  font-size: 1vw;
  font-weight: 200;
  color: #000000;
} 

.no-budget-battery  { 
  position: absolute; 
  left: 61%;
  top: 148.8%;
  padding-left: 45px; 
  margin-bottom: 15px; 
  cursor: pointer; 

  font-family: "Roboto";
  font-size: 1vw;
  font-weight: 200;
  color: #000000;
} 

/* Hide the default checkbox */ 
input[type=checkbox] { 
  visibility: hidden;
} 

/* creating a custom checkbox  */ 
.checkbox { 
  position: absolute; 
  top: 0%; 
  left: 100%; 
  height: 2.2vh; 
  width: 2.2vh; 
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ccc;
}

/* creating a custom checkbox  */ 
.checkbox-battery { 
  position: absolute; 
  top: 0%; 
  left: 100%; 
  height: 2.2vh; 
  width: 2.2vh; 
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.no-budget input:checked ~ .checkbox { 
  opacity: 1;
  background-color: #F6D673;
  border: 1px solid #F6D673;
  content: "123"
} 

.checkbox:after{
  content: ""; 
  position: absolute; 
  display: none;
}

.no-budget-battery input:checked ~ .checkbox { 
  background-color: #F6D673;
  border: 1px solid #F6D673;
} 

input[type=text]:disabled {
  background: #d1d1d1;
}

#FAQFooter {
  position: absolute;
  clear: both;
  bottom: 0.8%;
  color: #80807f;
  font-family: "Mulish";
  font-weight: 300;
  font-size: 2vh;
  line-height: 5vh;
  width: 100%;
  left: -16.6%;
}

#footerbuffer {
  position: absolute;
  left: -20%;
  height: 3.7vh;
  color: white;
}

