@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.1rem;
  --fontsize-nav:0.9rem;
  --typing-font:3rem;
  }

 * {
  margin:0;
  padding: 0;
  }

body{
  font-family: 'Roboto';
  }

.App{
  display: flex;
  width: 100vw;
  min-height: 100vh;
  }

  /* .condiv class is for the right side content container*/
.condiv{
  padding: 50px ;
  background-color: #f4f5f9;
  flex:var(--condiv-flex);
  }
  
nav{
flex:var(--sidebar-flex);
background: rgb(255, 255, 255);
height: 8%;
}
nav img{
  width: 6rem;
  position: absolute;
  left:30px;
  top:25px;
}
nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
  overflow: hidden;
  transform: rotate(180deg);
}
nav ul li{
  margin:30px;
  float: left;
  transform: rotate(-180deg);
}
a
{
  text-decoration: none;
  color: #80807f;
}
/* css for active class */
.active{
  font-weight: bold;
}

.active:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -25%;
  width: 150%;
  height: 4px;
  background-color: #abb8d4;
}