@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@use postcss-nested;

 * {
  margin:0;
  padding: 0;
  }

.App{
  display: flex;
  width: 100vw;
  height: 200vh;
  min-height: 100vh;
  }

.sticky{
  height: 50px;
  line-height: 80px;
  margin-top: 1%;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9998!important;
  }

.nav{
  position: absolute;
  background-color:white;
  font-size: 1.3vw;
  font-family: 'Roboto';
  }

.logo{
  position: absolute;
  margin-top: 1.4%;
  margin-left: 3%;
    }

ul.nav-right {
    width:100vw;
    list-style:none;
    text-align:right;
    font-family: sans-serif; 
    margin-right: 4%;
    float: right;
    overflow-x:hidden;
}

.nav-right li { 
  display:inline-block;
  width:10%;
  margin:0;
  padding:0;
}
.nav-right a {
  text-align:center;
  margin:0;
  display:block;
  text-decoration:none;
  color: #80807f;
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
}

#mainGraphic {
  position: absolute;
  width: 45vw;
  height: 60vh;
  left: 53%;
  top: 8%;
}

#mainText {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 4vw;
  color: black;
  position: relative;
  left: 5%;
  right: 55%;
  top: 13%;
  bottom: 55.21%;
}
#mainSubText {
  font-family: 'Roboto';
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 100;
  line-height: 2vw;
  color: #80807F;

  position: relative;
  left: 5%;
  right: 61.42%;
  top: 13.5%;
  bottom: 46.48%;
}
#startButton {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 1.5vw;

  position: absolute;
  width: 15%;
  height: 4%;
  left: 5%;
  right: 61.42%;
  top: 26%;
  bottom: 46.48%;

  border-radius: 55px;
  background-color: #F6D673;
  border: none;
  outline: none;
  text-align: center;
  display: inline-block;
}

#startButton:hover {
  background: #faebbc;
  color: black;
  outline: none;
}

#scrollArrow {
  width: 7vw;
  height: 5vh;
  position: absolute;
  left: 47%;
  top: 40%;

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

#scrollTo {
position: absolute;
left: 0%;
top: 121%;
color: white;
}

#customAnalysisIcon {
  position: absolute;
  width: 12vw;
  height: 20vh;
  left: 14.7%;
  top: 61.5%;
}
#customAnalysisLabel{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5C77AC;

  position: absolute;
  width: 209px;
  height: 40px;
  left: 12.5%;
  top: 71%;
  white-space: nowrap;
}
#customAnalysisDesc {
  position: absolute;
  width: 17vw;
  height: 25vh;
  left: 11.5%;
  top: 75%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.5vw;
  text-align: center;

  color: #000000;

}

#longTermSavingsIcon {
  position: absolute;
  width: 13vw;
  height: 20vh;
  left: 43.75%;
  top: 61.5%;
}
#longTermSavingsLabel {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5C77AC;

  position: absolute;
  width: 209px;
  height: 40px;
  left: 41.5%;
  top: 71%;
  white-space: nowrap;
}
#longTermSavingsDesc {
  position: absolute;
  width: 17vw;
  height: 25vh;
  left: 42%;
  top: 75%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.5vw;
  text-align: center;

  color: #000000;

}

#carbonFootprintIcon {
  position: absolute;
  width: 12vw;
  height: 22vh;
  left: 75.5%;
  top: 60.5%;
}
#carbonFootprintLabel{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5C77AC;

  position: absolute;
  width: 209px;
  height: 40px;
  left: 73.5%;
  top: 71%;
  white-space: nowrap;
}
#carbonFootprintDesc {
  position: absolute;
  width: 17vw;
  height: 25vh;
  left: 73%;
  top: 75%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.5vw;
  text-align: center;

  color: #000000;
}

#startButton2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 1.5vw;

  position: absolute;
  width: 15%;
  height: 4%;
  left: 43.5%;
  top: 87%;

  border-radius: 55px;
  background-color: #F6D673;
  border: none;
  outline: none;
  text-align: center;
  display: inline-block;
}

#startButton2:hover {
  background: #faebbc;
  color: black;
  outline: none;
}

.Panel {
  position: absolute;
	width: 100%;
	max-width: 800px;
  margin: 30px auto;
  
  top: 17%;
  left: 17%;
}

.Panel__body {
		background-color: #f2f2f2;
    padding: 10px 20px;
	}

.Tabs {
	position: relative;
  background-color: #fff;
}

.Tabs:after {
		content: ' ';
		display: table;
		clear: both;
	}

.Tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Tabs__tab {
		float: left;
		width: 50%;
		text-align: center;
}

.Tabs__tab:first-child.active ~ .Tabs__presentation-slider {
			transform: translateX(0) scaleX(0.5);
}

.Tabs__tab:nth-child(2).active ~ .Tabs__presentation-slider {
			transform: translateX(50%) scaleX(0.5);
}

.Tabs__presentation-slider {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #5c77ac;
		transform-origin: 0 0;
		transition: transform .25s;
	}

.Tab {
	font-family: 'Mulish';
}

.Tab > a {
		display: block;
		padding: 10px 12px;
		text-decoration: none;
		color: black;
		transition: color .15s;
	}

.tabContent{
  display:none;
}